

.private_chat {
  /* permet de centrer tout les composants enfants */
  display: grid;
  place-items: center;
  background-color: #fdfdfd;
  height: 90vh;
  width: 60vw;
  z-index: 10;
}
*::-webkit-scrollbar{
  display: none; 
}

.private_chat__body {

  display: flex;
  display: flex;
  background-color: #ededed;
  height: 90%;
  max-height: 90vh;
  width: 100%;
  margin-top: -50px;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.2);
}